{% extends "layout.html" %}
{% block body %}
<section>
    <h2>Add Item</h2>
    <ul>
        {% for message in get_flashed_messages() %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    <form action="{{url_for('add_item')}}" method="POST">
        <label for="name">Title</label>
        {% if name %}
        <input type="text" name="name" value="{{name}}">
        {% else %}
        <input type="text" name="name">
        {% endif %}
        <br/>
        <label for="description">Description</label>
        <br/>
        <textarea name="description" cols="30" rows="10">{% if description %}{{description}}{% endif %}</textarea>
        <br/>
        <label for="category">Category</label>
        <select name="category">
            {% for category in categories %}
                {% if category.name == prev_selected_category %}
                <option value="{{category.name}}" selected>{{category.name}}</option>
                {% else %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br/>
        <input type="submit" value="Create">
    </form>
    <a href="{{url_for('index')}}"><button>Cancel</button></a>
</section>
{% endblock %}