{% extends "layout.html" %}
{% block body %}
<section>
    <h2>{{item.name}}</h2>
    <div>
        description {{item.description}}
    </div>
    {% if user %}
    <div>
        <form action="{{url_for('edit_item', item_id=item.id)}}" style="display:inline">
            <input type="submit" value="Edit">
        </form>
        <form action="{{url_for('delete_item', item_id=item.id)}}" style="display:inline">
            <input type="submit" value="Delete">
        </form>
    </div>
    {% endif %}
</section>
{% endblock %}