<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Catalog App</h1>
    <main>
        <section>
            <h2>Edit Item</h2>
            <ul>
                {% for message in get_flashed_messages() %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            <form action="{{url_for('edit_item',item_id=item.id)}}" method="POST">
                <label for="name">Title</label>
                <input type="text" name="name" value="{{item.name}}">
                <label for="description">Description</label>
                <textarea name="description" cols="30" rows="10">{{item.description}}</textarea>
                <label for="category">Category</label>
                <select name="category">
                    {% for category in categories %}
                        {% if category.id == item.category_id %}
                        <option value="{{category.name}}" selected>{{category.name}}</option>
                        {% else %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Update">
            </form>
        </section>
    </main>
</body>
</html>