{% extends "layout.html" %}
{% block body %}
<section>
    <h2>Categories</h2>
    <div>
        <ul>
            {% for category in categories %}
            <li>
                <a href="{{url_for('list_category',category_id=category.id)}}">{{category.name}}</a>
            </li>
            {%endfor%}
        </ul>
    </div>
</section>
<section>
    <h2>{{category.name.capitalize()}} Items</h2>
    <div>
        <ul>
            {% for i in items %}
            <li>
                <a href="{{url_for('show_item', category_id=i.category_id, item_id=i.id)}}">
                    {{i.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}